.exampleImage {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 50px;
    border-radius: 4px;
    border: 1px solid #fff;
}

.people-item {
    margin: 20px 0;
    padding: 20px;
    color: #fff;
    text-align: left;
    background: #003471;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.people-header {
    padding: 0 0 10px 0;
}

.people-header .name {
    cursor: pointer;
    font-size: 20px;
    padding: 0 0 0 10px;
    line-height: 50px;
}

.people-header .name:hover {
    text-decoration: underline;
}

.people-body {
    padding: 10px 0;
    margin: 0 0 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.people-footer {

}

.people-footer .note {
    float: left;
}

.people-footer .btn-cont {
    float: right;
    width: 50%;
    text-align: right;
}

.people-footer .btn-primary {
    width: 100%;
}